You've been assigned a \"#{@task["task_type"]}\" task for the task \"#{@task["task_name"]}\"on MongoCRM

Click here to view it:
= link_to 'Click here to view task', Rails.public_path+task_path(@task.id)