It looks like you have forgotten your password.

Click here to reset it:

= link_to 'Reset Password', reset_password_url(token: @user.token)

If you can't follow the link above please visit:
= link_to reset_password_url(token: @user.token), reset_password_url(token: @user.token)
