%h3 Web Form
Copy the form below and use it anywhere in your website.
=text_area_tag "web_form",(render file: 'leads/convert_form.html.haml'), style: "width:850px; height:400px"
%br
=link_to "Back", leads_path, class: 'btn btn-primary'