body
  padding-right: 10px
  background-color: #f7f7f7
.navigation
  padding: 5px
  margin-left: 5px
  color: #000000
  height: 60px
  line-height: 35px
  overflow: hidden
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#111))
  -moz-border-radius: 0em 0em 1em 1em
  border-radius: 0em 0em 1em 1em
  
  ul
    padding: 0
    margin: 0
    list-style: none
    li
      display: inline-block
      padding-left: 10px
      margin-right: 10px
      border-left: 1px solid #ccc
      &:first-child
        border-left: none
  a
    color: #fff
    text-decoration: none

.label
  padding-top: 5px

.navbar
  font-size: 18px



  